@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import "tailwindcss";
@source "./src/content/**/*.mdoc";
@source "./src/content/**/*.json";

@theme {
  --color-primary-lime: #cbdb2a;
  --color-primary-blue: #014f6e;
  --color-text-body: #044c6c;

  --font-sans: "Lato", sans-serif;
}

@layer base {
  body {
    color: var(--color-text-body);
  }

  a {
    color: var(--color-text-body);
  }
}

@layer components {
  .prose {
    h2 {
      @apply text-2xl font-bold leading-tight mb-2 mt-6;
    }

    p {
      @apply my-2;
    }

    ul {
      @apply my-4 pl-12 list-disc;

      li {
        @apply my-1;
      }
    }
  }
}
