---
import Layout from '../layouts/Layout.astro';
import endorsementsData from '../content/endorsements/endorsements.json';
---

<Layout title="Endorsements">
	<h1 class="text-4xl font-bold text-blue-900 mb-6">Endorsements</h1>
	<pre class="bg-gray-100 p-4 rounded overflow-auto text-sm">
		{JSON.stringify(endorsementsData, null, 2)}
	</pre>
</Layout>
