---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import EndorsementList from '../components/EndorsementList.astro';
import { getCollection } from 'astro:content';

const endorsementsEntries = await getCollection('endorsements');
const endorsementsData = endorsementsEntries.flatMap(entry => entry.data);
---

<Layout title="Endorsements">
	<HeroSection 
		title="Endorsements" 
		subtitle="An emerging list of partners and supporters who have endorsed before the 2026 campaign launches in January. Many more to come!"
		centered={true}
	/>

	<section class="py-16 px-4 bg-white">
		<div class="max-w-7xl mx-auto">
			{endorsementsData.map((group) => (
				<EndorsementList 
					category={group.category}
					endorsements={group.endorsements}
				/>
			))}
		</div>
	</section>
</Layout>
