---
interface Props {
	name: string;
	title: string;
}

const { name, title } = Astro.props;
---

<div class="mb-2">
	<h3 class="text-lg font-bold text-text-body leading-tight">{name}</h3>
	{title && <p class="text-text-body text-sm leading-snug">{title}</p>}
</div>
